{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to my <span class="green">TicTacToe</span> Game</h1>
    </div>

    {#<div class="row">#}
        {#<div class="col-md-4">#}
            {#<h2>#}
                {#<a href="https://docs.zendframework.com/zend-expressive/features/container/intro/" target="_blank">#}
                    {#<i class="fa fa-cube"></i> Containers#}
                {#</a>#}
            {#</h2>#}
            {#<p>#}
                {#Expressive promotes and advocates the usage of Dependency Injection/Inversion of Control containers#}
                {#when writing your applications. Expressive supports multiple containers which typehints against#}
                {#<a href="https://github.com/container-interop/container-interop" target="_blank">container-interop</a>.#}
            {#</p>#}
        {#</div>#}

        {#<div class="col-md-4">#}
            {#<h2>#}
                {#<a href="https://docs.zendframework.com/zend-expressive/features/router/intro/" target="_blank">#}
                    {#<i class="fa fa-plane"></i> Routers#}
                {#</a>#}
            {#</h2>#}
            {#<p>#}
                {#One fundamental feature of zend-expressive is that it provides mechanisms for implementing dynamic#}
                {#routing, a feature required in most modern web applications. Expressive ships with multiple adapters.#}
            {#</p>#}
            {#{% if routerName is defined %}#}
                {#<p>#}
                    {#<a href="{{ routerDocs }}" target="_blank">#}
                        {#Get started with {{ routerName }}.#}
                    {#</a>#}
                {#</p>#}
            {#{% endif %}#}
        {#</div>#}

        {#<div class="col-md-4">#}
            {#<h2>#}
                {#<a href="https://docs.zendframework.com/zend-expressive/features/template/twig/" target="_blank">#}
                    {#<i class="fa fa-files-o"></i> Templating#}
                {#</a>#}
            {#</h2>#}
            {#<p>#}
                {#By default, no middleware in Expressive is templated. We do not even provide a default templating#}
                {#engine, as the choice of templating engine is often very specific to the project and/or organization.#}
                {#However, Expressive does provide abstraction for templating, which allows you to write middleware that#}
                {#is engine-agnostic.#}
            {#</p>#}
            {#{% if templateName is defined %}#}
                {#<p>#}
                    {#<a href="{{ templateDocs }}" target="_blank">#}
                        {#Get started with {{ templateName }}.#}
                    {#</a>#}
                {#</p>#}
            {#{% endif %}#}
        {#</div>#}
    {#</div>#}
{% endblock %}
